<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <div>
            <label for="login">Usuário:</label>
            <input type="text" id="login" name="login" required>
        </div>
        <div>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
        </div>
        <div>
            <button type="submit">Entrar</button>
        </div>

        <!-- Exibe mensagem de erro, caso haja -->
        <div style="color: red;">
            <p th:if="${error}" th:text="${error}"></p>
        </div>
    </form>
</body>
</html>

